* {
    margin: 0;
    padding: 0;
}

section.header {
    background: url(../images/banner.jpg);
    height: 80vh;
    background-position: center;
    background-size: cover;

    .navbar-brand {

        img {
            width: 150px;
            margin-left: 1.5em;
        }
    }

    // BANNER SECTION STYLING STARTS HERE
    .navbar-toggler {
        border: none !important;
        color: #FFF;
        margin-right: 1.5em;
        outline: none !important;
        transition: .5s;

        &:hover {
            transform: translateY(-5px);
        }

        .fa-bars {
            font-size: 1.3em;
        }
    }

    .navbar-nav {
        margin-right: 1.5em;

        .nav-item {
            transition: .5s;

            &:hover {
                transform: translateY(-5px);
                font-weight: 700;
            }

            .nav-link {
                float: right;
                color: #FFF !important;
            }
        }
    }
}

// BANNER SECTION STYLING ENDS HERE

//WELCOME SECTION STYLING STARTS HERE
section.welcome-section {

    .welcome {
        padding: 50px 100px;
        margin-top: -140px;
        background: #FFF;
        box-shadow: 0 0 20px 7px rgba($color: #000000, $alpha: 0.2);

        h1 {
            color: #333;
        }

        p {
            line-height: 1.5em;
            color: #333;
        }

        .welcome-btn {
            margin-top: 10px;
            padding: .8em 2.5em;
            background: linear-gradient(45deg, #c31432, #240b36);
            color: #FFF;
            border: none;
            box-shadow: 0 0 5px 2px rgba($color: #000000, $alpha: 0.2);
            border-radius: .5em;
            font-size: 1.2em;
            transition: 1s;

            &:hover {
                transform: translateY(-5px);
                background: linear-gradient(45deg, #240b36, #c31432);
            }
        }
    }
}

//WELCOME SECTION STYLING ENDS HERE

//ABOUT SECTION STYLING STARTS HERE
section.about-us {
    padding: 100px 0;


    .col-md-6 {
        padding: 20px 10px;
    }

    h3 {
        margin: 20px auto;
        color: #333;
    }

    p {
        line-height: 1.5em;
        color: #333;
    }
}

//ABOUT SECTION STYLING ENDS HERE

//SERVICES SECTION STYLING STARTS HERE
section.services {
    background: #EFEFEF;
    padding: 80px 0;

    .col-md-4 {
        padding: 20px;

        h4 {
            padding: 5px;
        }

        img {
            width: 50px;
        }

        p {
            padding: 5px;
            text-align: justify;
        }
    }
}

//SERVICES SECTION STYLING ENDS HERE

//FEATURES SECTION STYLING STARTS HERE
section.features {
    padding: 100px 0;
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)),
        url(../images/feature-background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #FFF;

    .col-md-6 {
        padding: 20px;

        .feature-box {
            height: 120px;

            .feature-left {
                height: 120px;
                width: 20%;
                float: left;

                i {
                    padding-top: 13px;
                    font-size: 3em;
                    color: gold;
                }
            }

            .feature-right {
                height: 120px;
                width: 80%;
                float: left;

                h4 {
                    padding-top: 10px;
                    padding-left: 15px;
                    text-align: left;
                }

                p {
                    padding-left: 15px;
                    text-align: left;
                }
            }
        }
    }
}

//FEATURES SECTION STYLING ENDS HERE

//TESTIMONIALS SECTION STYLING STARTS HERE
section.testimonials {
    padding: 100px 0;

    .middle {
        margin-top: -30px;
        margin-bottom: -30px;
    }

    .header {
        margin-bottom: 50px;
        color: #333;

        h1 {
            color: #240b36;
            font-size: 2em;
            margin-bottom: 10px;
        }

        p {
            line-height: 1.5em;
        }
    }

    .col-md-4 {
        position: relative;
        padding: 10px 30px;

        img {
            position: absolute;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            box-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.2);
            border: 2px solid #FFF;
            top: 0;
            left: 1;

        }

        .review {
            font-size: 1em;
            color: #333;
            padding: 10px 10px 10px 30px;
            border-radius: 10px;
            box-shadow: 0 0 20px 1px rgba($color: #000000, $alpha: 0.2);
            margin-left: 2em;

            I {

                text-align: center;
                font-size: 1.2rem;
                color: #240b36;
                margin-top: 10px;
            }

            span {
                color: #240b36;
                font-weight: 600;
            }
        }
    }
}

//TESTIMONIALS SECTION STYLING ENDS HERE

//SUBSCRIBE SECTION STYLING STARTS HERE
section.subscribe {
    padding: 20px 0;

    .subscribe-container {
        padding: 50px 20px;
        background: #240b36;
        position: relative;
        box-shadow: 0 0 020px 7px rgba($color: #000000, $alpha: 0.2);
        margin-bottom: -160px;

        h3,
        p {
            color: #FFF;
        }

        .input-group {
            color: #FFF;
            border-radius: 30px;
            background: #FFF;
            max-width: 500px;
            margin: 10px auto;
            padding: 5px;

            .form-control {
                border: none;
                background: transparent;

                &:focus {
                    box-shadow: none;
                    background: transparent;
                }
            }

            .input-group-append {
                background-image: linear-gradient(to right, #41295a, #9b6dbd);
                border-radius: 30px;

                .input-group-text {
                    background: transparent;
                    border: none;
                    color: #FFF;

                    .secondary-btn {
                        transition: .5s;

                        &:focus {
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }
}
//SUBSCRIBE SECTION STYLING ENDS HERE


//FOOTER SECTION STYLING STARTS HERE
section.footer {
    margin-top: 80px;
    padding: 100px;
    background: #EFEFEF;
    color: #240b36;

    .col-md-3 {
        .footer-logo {
            width: 150px;
            margin-top: 25px;
            margin-bottom: 15px;
        }

        h1 {
            font-size: 1.5em;
            text-align: left;
            margin-top: 25px;
            margin-bottom: 25px;
        }

        p {
            font-size: .9em;
            text-align: left;

            .city {
                margin-left: 37px;
            }

            i {
                padding-right: 20px;
                font-size: 1.2em;
                font-weight: 600;
            }
        }
    }

    hr {
        margin-top: 10px;
    }

    .copyright {
        text-align: center;
        font-weight: 600;
        margin-bottom: -80px;

    }
}

//FOOTER SECTION STYLING ENDS HERE